/* context.css - styling for the context.html page */

/* import stylesheets as necessary */
@import url("./themes.css"); /* all themes, all here */
@import url("./spooky.css"); /* spOooOOoooky full theme (it gets its own file) */

:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: var(--theme-bg);
	color: var(--theme-fg);
	font-family: var(--theme-font);
	background-image: none!important; /* I don't want the grid underlay in context.html, also mouse control isn't added here anyways */
}

select, button, input {
	color: var(--theme-fg-darklight);
	font-family: var(--theme-font);
}

body {
	margin: 1rem;
}

textarea {
	width: 100%;
	height: 15vh;
	tab-size: 4;
	resize: vertical;
}

.uneditable {
	opacity: 0.9;
	text-decoration: 1px dotted underline;
}

pre {
	display: inline;
}

.announcement, .schedulingRule, .schedule {
	border: 1px solid gray;
	border-radius: 4px;
	margin-bottom: 0.5rem;
	padding: 1rem;
}

.timing {
	border: 1px solid gray;
	border-radius: 2px;
	margin-bottom: 0.25rem;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

button:disabled {
	opacity: 0.8;
	cursor: not-allowed;
	color: gray;
}

button + button {
	margin-left: 0.5rem;
}

.danger {
	color: red;
}
