/* context.css - styling for the context.html page */

/* import stylesheets as necessary */
@import url("./themes.css"); /* all themes, all here */

:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: var(--theme-bg);
	color: var(--theme-fg);
	font-family: var(--theme-font);
}

select, button, input {
	color: var(--theme-fg-darklight);
	font-family: var(--theme-font);
}

body {
	margin: 1rem;
}

textarea {
	width: 100%;
	height: 15vh;
	tab-size: 4;
	resize: vertical;
}

.uneditable {
	opacity: 0.9;
	text-decoration: 1px dotted underline;
}

input, select, button {
	border: 1px solid var(--theme-fg);
	border-bottom: 2px solid var(--theme-fg);
	border-radius: 4px;
	padding: 4px;
}

input[type="text"] {
	width: 300px;
}

button {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.05 * var(--l-change-multiplier))) c h); /* color copied from "input, select, textarea" style in themes.css */
	border: 2px solid var(--theme-fg);
}

.announcement, .schedulingRule, .schedule {
	border: 1px solid gray;
	border-radius: 4px;
	margin-bottom: 0.5rem;
	padding: 1rem;
}

.timing {
	border: 1px solid gray;
	border-radius: 2px;
	margin-bottom: 0.25rem;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

button:disabled {
	opacity: 0.8;
	cursor: not-allowed;
	color: gray;
}

button + button {
	margin-left: 0.5rem;
}

.danger {
	color: red;
}
