/* main.css - contians the main styles that run the whole thing */

/* import stylesheets as necessary */
@import url("./themes.css"); /* all themes, all here */

:root {
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: var(--theme-bg);
	color: var(--theme-fg);
	font-family: var(--theme-font)
}

button {
	color: var(--theme-fg);
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#app {
	display: flex;
	flex-flow: column;
	width: 100vw;
	height: 100vh;
}

#consoleView {
	position: fixed;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 50%);
	z-index: 1000;
}

.announcement {
	background-color: oklch(from var(--theme-bg) 0.80 0.1 h);
	color: #222222; /* since bg is locked at 0.80 lightness, a dark color is always wanted, regardless of theme */
	padding: 0.2rem 0.5rem;
	text-align: center;
	font-size: 1.25rem;
	display: none;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid oklch(from var(--theme-bg) 0.90 0.2 calc(h + 180)); /* oklch(0.90, double, +180) */
}

.announcement:not(:empty) {
	display: flex;
}

#colFlexMain {
	flex-grow: 1;
	display: flex;
	flex-flow: row;
	overflow: hidden;
}

/* sidebar (aside) */
aside {
	width: 400px;
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.03 * var(--l-change-multiplier))) c h);
	z-index: 1000;
	padding: 1rem;
	display: none;
	overflow: auto;
}

aside, aside select, aside button, input {
	color: var(--theme-fg-darklight);
	font-family: var(--theme-font);
}

aside.sidebarVisible {
	display: flex;
	flex-direction: column;
}

#sidebarNavigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#sidebarNavigation button {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.03 * var(--l-change-multiplier))) c h);
	border: none;
	cursor: pointer;
	font-size: 1.25rem;
}

#sidebarNavigation button:hover {
	transform: scale(1.1);
}

#sidebarLocation {
	padding: 0.25em 0.5rem;
	margin: 0;
}

#sidebarContent {
	padding: 0 0 1rem 0;
	flex-grow: 1;
}

.sbPage {
	display: none;
}

.sbPage#currentSidebarPage {
	display: block;
}

#sidebarContent:has(.sbPage.flexSbPage#currentSidebarPage) {
	display: flex;
}

.sbPage.flexSbPage#currentSidebarPage {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 600px) {
	#keyboardShortcutsOption {
		display: none;
	}
}

.sbPage[data-page-name="keyboardShortcuts"] code {
	background-color: oklch(from var(--theme-bg) calc(l - calc(0.03 * var(--l-change-multiplier))) c h);
	padding: 0.5rem;
}

.sbOption {
	padding: 1rem;
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.05 * var(--l-change-multiplier))) c h);
	border-radius: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.255);
	cursor: pointer;
	transition-property: background-color, padding-left, outline, border;
	transition-duration: 250ms;
	margin-bottom: 0.5rem;
	position: relative;
}

.sbOption:hover, .sbOption:focus-visible {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.05 * var(--l-change-multiplier))) calc(c + 0.02) h);
	padding-left: 1.25rem;
}

.sbOption:focus-visible {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.552);
}

.sbOption:hover::after {
	transform: scale(1.25);
}

.sbOption::after {
	content: "arrow_forward";
	font-size: 1rem;
	float: right;
}

.element-highlight {
	animation-name: highlight-flash;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-fill-mode: backwards;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.element-highlight:hover {
	animation-name: none;
	border: 2px solid gold;
	transform: translateY(-2px);
}

@keyframes highlight-flash {
	from {
		
	} to {
		border: 2px solid gold;
	}
}

input[type=checkbox] {
	margin-right: 0.5rem;
}

#sidebarContent p {
	margin: 0;
	margin: 1rem 0;
}

#sidebarContent hr {
	opacity: 0.5;
}
#sidebarContent hr:not(.regularHrMargin) {
	margin: 0 -0.25rem;
}

h2 {
	font-size: 1rem;
}

.miniLabel {
	margin-top: 1rem;
}

select {
	width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
	background-color: var(--theme-bg);
	color: var(--theme-fg);
}

#schoolSelectUncategorized:empty {
	display: none;
}

.linklike {
	text-decoration: underline;
	cursor: pointer;
}

input[type="range"] {
	width: 200px;
	display: block;
}

datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: 200px;
}

#scheduleManagersAccess {
	font-size: inherit;
}

#evalJs {
	width: 100%;
	height: 400px;
	resize: vertical;
}

/* (timings) table */
table {
	width: 100%;
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid oklch(from var(--theme-bg) 0.5 c h);
}

th, td {
	padding: 0.5rem;
}

thead tr, tr:nth-child(even) {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.13 * var(--l-change-multiplier))) c h);
}

table:has(tbody:empty) thead th {
	width: 50%;
}

tbody:empty {
	display: block;
	padding: 1rem;
}

tbody:empty::after {
	content: "(Empty schedule)";
}

@media (max-width: 900px) {
	aside {
		position: absolute;
		height: 100vh;
	}
}

@media (max-width: 400px) {
	aside {
		position: absolute;
		width: 100vw;
		height: 100vh;
	}
	#statusLeft {
		display: none;
	}
}

main {
	flex-grow: 1;
	position: relative; /* keeps #buttonsBar below announcements */
}

#mainCenter {
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

/* buttons! */
#buttonsBar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0.5rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.flatBtn {
	font-size: 1.25rem;
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.09 * var(--l-change-multiplier))) calc(c + 0.01) h);
	border: none;
	border-radius: 0.15rem;
	cursor: pointer;
	margin-left: 0.5rem;
	
	/* these styles make it a "pressable" button */
	padding: 0.4em 1em;
	box-shadow: inset 0 -0.6rem 0 -0.3rem rgba(0, 0, 0, 0.2);
	position: relative;
}

.flatBtn:hover {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.12 * var(--l-change-multiplier))) calc(c + 0.02) h);
}

.flatBtn.btnActive {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.15 * var(--l-change-multiplier))) calc(c + 0.02) h);
}

.flatBtn:active {
	box-shadow: inset 0 -0.55rem 0 -0.3rem rgba(0, 0, 0, 0.2);
	top: 0.1em;
	outline: none;
}

.flatBtn::after {
	content: attr(data-icon);
	position: relative;
	bottom: 0.1rem;
}

.flatBtn:focus-visible {
	outline: 1px solid oklch(from var(--theme-fg) l c h / 0.525)!important;
}

:root:has(aside.sidebarVisible) #toggleSidebar, :root:has(#fullscreen.fullscreenPresent) #toggleSidebar { /* if sidebar is open, OR the app is in simulated fullscreen, don't show the toggle sidebar button */
	display: none;
}

/* [sidebar] dropdown code, adapted from w3schools's https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: oklch(from var(--theme-bg) calc(l + 0.1) 0.02 h);
	min-width: 160px; /* fixed number; what can I do about this? It seems to work in most places */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 5;
}

.dropdown-content:not(:has(:not(span.hidden)))::after {
	content: "This menu is empty.";
	display: none;
	position: absolute;
	right: 0;
	background-color: oklch(from var(--theme-bg) calc(l + 0.1) 0.02 h);
	min-width: 160px; /* fixed number; what can I do about this? It seems to work in most places */
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 5;
	color: var(--theme-fg-darklight);
	padding: 0.75rem 1rem;
	text-decoration: none;
	display: block;
	cursor: not-allowed;
}

.dropdown-content>* {
	color: var(--theme-fg-darklight);
	padding: 0.75rem 1rem;
	text-decoration: none;
	display: block;
	cursor: pointer;
}
.dropdown-content>*:hover {
	background-color: oklch(from var(--theme-bg) calc(l + 0.05) 0.02 h);
}

.dropdown:hover .dropdown-content, .dropbtn.btnActive+.dropdown-content {
	display: block;
}

/* time elements */
#time {
	font-size: 15vw;
	font-family: "Rampart One", var(--theme-font);
}

[data-setting-themeunderlay="lightspeed"] main { /* lightspeed has a dark background, all main time parts must be light */
	color: oklch(from var(--theme-bg) 0.9 c h);
}

.v-hidden {
	visibility: hidden;
}

.timeSmall {
	font-size: 5vw;
}

#timeOver {
	position: absolute;
	left: 0.5rem;
}

#timeLeft {
	position: absolute;
	right: 0.5rem;
}

#statusBar {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.05 * var(--l-change-multiplier))) c h);
	padding: 0.2rem 0.5rem;
	text-align: center;
	font-size: 1rem;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#statusMiddle {
	cursor: pointer;
}

/* fullscreener */
#fullscreen.fullscreenPresent {
	font-size: calc(10px + 10vw)!important;
	width: 100vw!important;
	height: 100vh!important;
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	position: fixed!important;
	top: 0!important;
	left: 0!important;
	line-height: 1!important;
	white-space: initial!important;
	user-select: none!important;
	padding: 0 5vw!important;
	box-sizing: border-box!important;
}

body:has(#fullscreen.fullscreenPresent) .simFullscreenHide:not(#fullscreen *) {
	display: none;
}

#fullscreen.fullscreenPresent :last-child { /* last child is fullscreened element */
	text-align: center!important;
	position: static!important;
}

/* custom sizing */
#fullscreen.fullscreenPresent #period {
	font-size: calc(10px + 6.7vw)!important; /* heh, yeah */
}

#fullscreen.fullscreenPresent #time {
	font-size: calc(10px + 20vw)!important; /* times usually are pretty short */
}

.hold-then-fade {
	animation-name: hold-then-fade;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes hold-then-fade {
	from {
		opacity: 1;
	} 80% {
		opacity: 1;
	} to {
		opacity: 0;
	}
}

/* widgets */
.widget {
	background-color: var(--theme-bg);
	border: 1px solid rgba(127, 127, 127, 0.5);
	border-radius: 0.15rem;
	padding: 0.5rem;
	padding-top: 0;
	position: fixed;
	min-width: 100px;
	min-height: 50px;
	width: 200px;
	max-width: 100vw;
	box-sizing: border-box;
	z-index: 20;
}

.widgetContent {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.widget:hover {
	border-color: var(--theme-fg);
}

#stopwatch {
	top: 20%;
	right: 1rem;
}

#timer {
	top: 40%;
	right: 1rem;
}

#notes {
	top: 60%;
	right: 1rem;
	min-width: 200px;
	width: 400px;
	height: 300px;
}

.dragger {
	font-size: 1rem;
	text-align: center;
	width: 100%;
	cursor: grab;
	user-select: none;
}

.dragging {
	cursor: grabbing!important;
}

.widget .resizer {
	position: absolute;
	background: var(--theme-bg);
	width: 30px; /* if changing this, update widgets.js too */
	height: 30px;
	border-radius: 50%;
	border: 3px solid var(--theme-fg);
	box-sizing: border-box;
	bottom: -15px;
	right: -15px;
	cursor: se-resize;
	opacity: 0;
}

.widget:hover .resizer, .widget:hover .closer {
	opacity: 1;
}

.widget .closer {
	position: absolute;
	background: oklch(from var(--theme-bg) calc(l + calc(var(--l-change-multiplier) * 0.05)) c h);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-sizing: border-box;
	top: -10px;
	left: -10px;
	cursor: pointer;
	opacity: 0;
	text-align: center;
	line-height: 20px;
	color: red;
}

.widget .closer::after {
	content: "×";
}

#stopwatchTime, #timerTime {
	width: 100%;
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.03 * var(--l-change-multiplier))) c h);
	color: var(--theme-contrasting-bg);
	padding: 0.5rem;
	box-sizing: border-box;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	text-align: center;
}

.widgetButtons {
	display: flex;
	gap: 0.5rem;
}

.widgetButtons button:active {
	background-color: var(--theme-fg);
	color: var(--theme-bg);
}

#timerMute {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
	font-size: 1.5rem;
	border-radius: 50% 50% 50% 0;
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.03 * var(--l-change-multiplier))) c h);
	color: var(--theme-fg);
	margin: 0.2rem;
	cursor: pointer;
	user-select: none;
}

#timerMute:hover {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.widgetButtons button.btnClean {
	flex: 1;
	font-family: inherit;
	font-size: 1.25rem;
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.09 * var(--l-change-multiplier))) calc(c + 0.01) h);
	color: var(--theme-fg-darklight);
	margin-top: 0.5rem;
	border: none;
	border-radius: 0.15rem;
	cursor: pointer;
	transition-property: background-color, color, box-shadow, top, outline;
	transition-duration: 100ms;
	
	/* these styles make it a "pressable" button */
	padding: 0.4em 1em;
	box-shadow: inset 0 -0.6rem 0 -0.3rem rgba(0, 0, 0, 0.2);
	position: relative;
}

.widgetButtons button.btnClean:hover {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.12 * var(--l-change-multiplier))) calc(c + 0.02) h);
}

.widgetButtons button.btnClean:active {
	background-color: var(--theme-fg);
	color: var(--theme-bg);
	box-shadow: inset 0 -0.55rem 0 -0.3rem rgba(0, 0, 0, 0.2);
	top: 0.1em;
}

.btnClean:focus-visible {
	outline: 1px solid oklch(from var(--theme-fg) l c h / 0.525)!important;
}

#notesStatus {
	margin: 0;
	font-size: small;
	opacity: 0.5;
}

#notesToSidebar {
	font-size: unset;
	opacity: 0.5;
}

#notesToSidebar:hover {
	opacity: 1;
}

.hidden {
	display: none!important;
}

#snow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	pointer-events: none;
}

.material-symbols-outlined, .flatBtn::after, .sbOption::after, #sidebarNavigation>button {
	font-family: "Material Symbols Outlined", sans-serif!important;
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}
