/* themes.css - contains all the themes that are shared across different pages */

/* special themes */
/**************************/
/* spooky theme is being phased out of usage on Dec 7, 2025 UTC. this import and the ./spooky.css file can be removed after that date */
@import url("./spooky.css"); /* spOooOOoooky full theme (it gets its own file) */
/**************************/

/* fonts */
[data-setting-font="default"] {
	--theme-font: Rubik, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

[data-setting-font="rubik"] {
	--theme-font: Rubik, sans-serif;
}

[data-setting-font="lucida"] {
	--theme-font: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

[data-setting-font="cambria"] {
	--theme-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-size: large;
}

[data-setting-font="monospace"] {
	--theme-font: "Courier New", Courier, monospace;
}

/* background themes */
[data-setting-backgroundTheme="dark"] {
	--theme-bg: oklch(0.20 0.015 270);
}

[data-setting-backgroundTheme="light"] {
	--theme-bg: oklch(0.90 0.035 270);
}

[data-setting-backgroundTheme="mistyRose"] {
	--theme-bg: oklch(0.94 0.035 25);
}

[data-setting-backgroundTheme="winter"] {
	--theme-bg: oklch(0.99 0.0053 16);
}

/* system background theme */
@media (prefers-color-scheme: dark) {
	[data-setting-backgroundTheme="system"] {
		--theme-bg: oklch(0.20 0.015 270);
	}
}

@media (prefers-color-scheme: light) {
	[data-setting-backgroundTheme="system"] {
		--theme-bg: oklch(0.90 0.035 270);
	}
}

/* automatic (system) text theme */
.darkishBg[data-setting-foregroundTheme="auto"] {
	--theme-fg: oklch(from var(--theme-bg) 0.9 c h);
}

.lightishBg[data-setting-foregroundTheme="auto"] {
	--theme-fg: oklch(from var(--theme-bg) 0.2 c h);
}

.darkishBg {
	--l-change-multiplier: 1; /* basically, if the background is dark, changes to it should make it ligher (positive) */
	--theme-fg-darklight: oklch(from var(--theme-bg) 0.9 c h);
}

.lightishBg {
	--l-change-multiplier: -1; /* if it's a light background, changes should make it darker */
	--theme-fg-darklight: oklch(from var(--theme-bg) 0.2 c h);
}

/* text themes */
[data-setting-foregroundTheme="relaxingBlue"] {
	--theme-fg: oklch(calc(0.567 + calc(0.1 * var(--l-change-multiplier))) 0.125 245);
}

[data-setting-foregroundTheme="exoticPurple"] {
	--theme-fg: oklch(calc(0.567 + calc(0.1 * var(--l-change-multiplier))) 0.25 300);
}

/* inputs */

input[type="checkbox"] {
	color-scheme: light;
	accent-color: var(--theme-fg);
}

input, select, textarea {
	background-color: oklch(from var(--theme-bg) calc(l + calc(0.05 * var(--l-change-multiplier))) c h);
	color: var(--theme-fg)
}

/* underlays */

[data-setting-themeUnderlay="grid"] {
	z-index: -1;
	background-size: 2.5rem 2.5rem;
	background-image:
		linear-gradient(to right, rgba(from var(--theme-fg-darklight) r g b / 0.1) 1px, transparent 1px),
		linear-gradient(to bottom, rgba(from var(--theme-fg-darklight) r g b / 0.1) 1px, transparent 1px);
	animation-name: pan;
	animation-duration: var(--grid-animation-duration);
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes pan {
	from {
		background-position: 0 0;
	} to {
		background-position: calc(2.5em * var(--grid-speed-x)) calc(2.5em * var(--grid-speed-y));
	}
}

#lightspeedCanvas {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
}

[data-setting-themeUnderlay="lightspeed"] #lightspeedCanvas {
	display: block;
}
